html {
  @apply text-base;
}

body {
  @apply text-[15px] bg-body font-primary font-normal leading-relaxed text-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-semibold leading-tight text-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

.particle-network-animation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
  z-index: -9999999;
  &::before {
    z-index: -2;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    opacity: 0.2;
  }
}

.glow {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(
    circle closest-side,
    rgba(255, 255, 255, 0.025),
    transparent
  );
}

$duration: 25s;

.glow-1 {
  width: 150vw;
  height: 150vh;
  animation: glow-1-move $duration linear infinite both;
}

@keyframes glow-1-move {
  from {
    transform: translate(-100%, 100%) scale(1);
  }
  to {
    transform: translate(100%, -100%) scale(1);
  }
}

.glow-2 {
  width: 100vw;
  height: 100vh;
  animation: glow-2-move $duration linear $duration / 3 infinite both;
}

@keyframes glow-2-move {
  from {
    transform: translate(-100%, 0%) scale(1);
  }
  to {
    transform: translate(100%, 100%) scale(1);
  }
}

.glow-3 {
  width: 120vw;
  height: 120vh;
  animation: glow-3-move $duration linear $duration / 3 * 2 infinite both;
}

@keyframes glow-3-move {
  from {
    transform: translate(100%, 100%) scale(1);
  }
  to {
    transform: translate(0%, -100%) scale(1);
  }
}
